*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/*MENU DE NAVEGAÇÃO*/

.nav{
    background-color: #04223a;
    padding: 20px;
    text-align: center;
}

.nav ul li {
    display: inline;
    padding: 20px;
}

.nav img{
    width: 60px;
    height: 60px;
    position: relative;
    right: 150px;
    top: 7px;
}

.nav a{
    color: #fffafa;
}

.nav button{
    border: none;
    border-radius: 3px;
    padding: 5px;
    background-color: #dd821a;
}

.nav a:hover{
    color: #dd821a;

}

/*BANNER*/

.banner img{
    width: 100%;
}

/*OFERTA*/

.oferta h1{
    background-color: #e6e6e6;
    position: relative;
    top:10px;
    text-align: center;
    color:#5a5959;
    font-size: 20px;
}

/*VITRINE*/

.vitrine{
    position: relative;
    top: 10px;
    display:flex;
}
.vitrine img{
    width: 300px;
    height: 300px;
    padding: 50px;
    margin: 1px;
    background-color: #e6e6e6;
}


/*RODA PÉ*/

.end{
    position:relative;
    top: 20px;
    background-color: #e6e6e6;
}

.detalhes{
    text-align: center;
}
.detalhes img{
    width: 50px;
    height: 50px;
    margin: 10px 40px;
    margin-top: 50px;
}
.detalhes ul li{
    display: inline;
}

.detalhes h1{
    font-weight: lighter;
    font-size: 20px;
    color: #202020;
    margin: 10px;
}

.detalhes p{
    color: #7c7b7b;
}


